<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Blinkit</title>
<link rel="stylesheet" href="/css/style.css">
</head>
<body>

<header>
<h1>Blinkit</h1>

<nav>
<a href="/">Home</a>
<a href="/products">Products</a>
<a href="/cart">Cart</a>
<a href="/login">Login</a>
</nav>

</header>

<h2 class="welcome">Delivery in Minutes</h2>

<div class="products">

<div class="card">
<img src="/images/milk.jpg">
<h3>Milk</h3>
<p>₹30</p>
<button>Add To Cart</button>
</div>

<div class="card">
<img src="/images/bread.jpg">
<h3>Bread</h3>
<p>₹40</p>
<button>Add To Cart</button>
</div>

</div>
<script src="/js/script.js"></script>

</body>
</html>